.DmonzonJogWheel-knobBg {
    position: relative;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    margin:0px;
    background-image: url(images/knobBg.png);
    background-size: 100%;
}
    
.DmonzonJogWheel-dial {
      position:absolute;
      left: 12.133891213389121%;
      top: 9.205020920502092%;
      width:75.313807531380753%;
      height:75.313807531380753%;
}
    
.DmonzonJogWheel-block.forward {
    transform: rotate(180deg);
}
.DmonzonJogWheel-block.bakward {
    transform: rotate(-180deg);
}
    
.DmonzonJogWheel-block {
    position:absolute;
    left:0%;
    top:0%;
    width:100%;
    height:100%;
    margin:0px;
    border-radius: 83.333333333333333%;
    -moz-border-radius: 83.333333333333333%;
    background: url(images/texture.png) rgba(204, 170, 170, 0);
    background-size: 100%;
    -moz-box-shadow: inset 0 0 black;
    -webkit-box-shadow: inset 0 0 black;
    box-shadow: inset 0 0 black;
    opacity: 1;
    /* transition: transform 1s; */
    }
    
.DmonzonJogWheel-bevel {
    position:absolute;
    /* left:93px;
    top: 205px; */
    left:4.166666666666667%;
    top: 4.166666666666667%;
    width:91.944444444444444%;
    height:91.944444444444444%;
    margin:0px;
    border-radius: 90.634441087613293%;
    -moz-border-radius: 90.634441087613293%;
    background: url(images/bevel.png) rgba(170, 195, 204, 0);
    background-size: 100%;
    pointer-events:none;
}
    
    
.DmonzonJogWheel-indicator {
      position:absolute;
      width:9.722222222222222%;
      height:9.722222222222222%;
      left:19.444444444444444%;
      top:19.444444444444444%;
      margin:0px;
      border-radius: 85.714285714285714%;
      -moz-border-radius: 85.714285714285714%;
      background-size: 100%;    
      /* -webkit-transition: background-image 0.05s ease-in-out;
      transition: background-image 0.05s ease-in-out; */
    }

.DmonzonJogWheel-indicator.off {
    background-image: url(images/black-indicator.png);
}

.DmonzonJogWheel-indicator.on {
    opacity: 0;
    background-image: url(images/red-indicator.png);
}

.DmonzonJogWheel-indicator.on.active {
    -webkit-transition: opacity 0.05s ease-in-out;
    transition: opacity 0.05s ease-in-out;
    opacity: 1;
}
    
    
.DmonzonJogWheel-handle {
      position:absolute;
      width:32.5%;
      height:32.5%;
      left:52.777777777777778%;
      top:52.777777777777778%;
      margin:0px;
      border-radius: 25.641025641025641%;
      -moz-border-radius: 25.641025641025641%;
      background-image: url(images/mark2.png);
      background-size: 100%;
    }